
.shape01{
    top: 14%;
    left: 26%;
}

.shape02{
    left: 48%;
    top: 43%;
}

.shape03{
    top: 12%;
    left: 55%;
}
.shape04{
    top: 14%;
    left: 26%;
}
.shape05{
    top: 72%;
    left: 9%;
}
.shape06{
    left: 88%;
    top: 61%;
}
.shape07{
    top: 69%;
    left: 41%;
}